h1 {
  font-size: 54px;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  padding: 0;
  z-index: 100 !important;

  &.spaced {
    margin: 0 0 30px;

    @include tablets {
      margin: 30px 0;
    }
  }

  @include tablets {
    text-align: center !important;
    font-size: 40px;
    margin: 20px 0;
  }

  @include small-phones {
    font-size: 30px;
  }

  @include small-horizontal {
    font-size: 24px;
  }
}

h2 {
  margin: 0;
  padding: 0;
  font-size: 30px;
  font-weight: $font-thin;
  text-overflow: ellipsis;
  max-width: 100%;

  overflow-wrap: break-word;
  word-wrap: break-word;
}

p {
  font-size: 22px;
  font-weight: $font-thin;

  @include phones {
    font-size: 18px;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

.text_center {
  text-align: center;
}
