h1 {
  font-size: 54px;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  padding: 0;
  z-index: 100 !important;

  @include tablets {
    text-align: center !important;
    font-size: 40px;
  }

  @include small-phones {
    font-size: 30px;
  }

  @include small-horizontal {
    font-size: 24px;
  }
}

h2 {
  margin: 0;
  padding: 0;
  font-size: 37px;
  font-weight: $font-thin;
}

p {
  font-size: 22px;
  font-weight: $font-thin;

  @include phones {
    font-size: 18px;
  }
}

.text_center {
  text-align: center;
}
