$shadow-color: rgba(#212121, 0.16);
$dark: #1d1d1d;
$light-dark: #484848;
$grey: #ebebeb;
$light: #f5f5f5;
$white: #ffffff;
$purple: #d649d1;
$blue: #2ca9eb;

$bp-small: 576px;
$bp-medium: 992px;
$bp-large: 1200px;
