// MIXINS
@import 'mixins/rwd';
@import 'mixins/shadow';
@import 'mixins/transition';

// VARS
@import 'variables';
@import 'font';
@import 'typography';
@import 'layout-config';

// COMPONENTS
@import 'components/locked_component';
@import 'components/main_component';
@import 'components/background_columns';
@import 'components/logo';
@import 'components/social_icons';
@import 'components/navbar';
@import 'components/hamburger';
@import 'components/link';
@import 'components/bottom_bar';
@import 'components/go_back_btn';
@import 'components/arrow_btn';

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-height: 100%;
  max-height: 100%;
  background: $white;
  font-family: 'Josefin Sans', sans-serif;
}

.main {
  color: $purple;
  font-size: 18px;
  font-weight: 900;
}

.rest {
  color: $purple;
}
