$logo-size: 250px;

.logo {
  display: block;
  margin: 10px auto;
  position: relative;

  &_small {
    @extend .logo;
    width: $logo-size / 3;

    @include phones {
      width: $logo-size / 3 * 0.5;
    }
  }

  &_large {
    @extend .logo;
    width: $logo-size;

    @include phones {
      width: $logo-size * 0.5;
    }

    @include small-horizontal {
      width: $logo-size * 0.2;
    }
  }

  .logo_bg {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    content: '';
    width: $logo-size / 2;
    height: $logo-size / 2;
    background: $white;
    @include shadow-light;
    border-radius: 50%;

    @include phones {
      width: $logo-size / 2 * 0.5;
      height: $logo-size / 2 * 0.5;
    }

    @include small-horizontal {
      width: $logo-size / 2 * 0.2;
      height: $logo-size / 2 * 0.2;
    }
  }
}
